apiVersion: integration.ibm.com/v1beta1
kind: PlatformNavigator
metadata:
  name: navigator
  namespace: integration
spec:
  license:
    accept: true
    license: ${CP4I_LICENSE}
  mqDashboard: true
  replicas: 1
  storage:
    class: ${FILE_STORAGECLASS}
  version: ${CP4I_VERSION}
